*~
*.bak
Makefile
Makefile.in
*.o
*.lo
*.a
*.la
.deps/
.libs/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/version.xml
install-sh
libhildondesktop/libhildondesktop.pc
libhildondesktop/libhildondesktop-1.la
libhildondesktop/libhildondesktop-1.pc
libtool
ltmain.sh
missing
stamp-h1
examples/pvr-texture/example-pvr-texture
